
html{
    height: 100vh;
    background-color: #f9f9f9;
}
body{
    height: 100vh;
    margin: 0 0;
}
.manu{
    height: 100vh;
    background-color: #f9f9f9;
    
}
.login{
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
  align-items: center;
  justify-content: center;
}
.main{
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonSingIn{
    background-color: #f9f9f9;
    padding: 0.4rem;
    color: rgba(31, 30, 30, 0.904);
    border-radius: 0.7rem;
}
li{
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a,nav li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover, nav li span:hover {
    background-color: #111;
  }